<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>

    <link rel="stylesheet" href="/css/faq.css" />
  </head>

  <body>
    <div class="page">
        <a href="/" class="back-btn">← Back to Home</a>

      <h1 class="title">Frequently Asked Questions</h1>
       
      <div class="faq-search">
  <input
    type="text"
    id="faqSearch"
    placeholder="Search FAQs..."
  />
</div>

      <div id="faqContainer" class="faq-container">
      </div>
    </div>

    <script src="/js/faq.js"></script>
  </body>
</html>
